<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tree.name %>
</p>


<%= link_to 'Edit', edit_project_tree_path(@project, @tree) %> |
<%= link_to 'Back', project_trees_path(@project) %>